.ingredients_controls{
    display: flex;
    justify-content: space-between;
}
.ingredients_controls>*{
    flex:1 1;
}
.table_container{
    height: 50vh;
}
.table_container>.contained_table{
    height: 100%;
}

form.form-grid-2 label{
    font-weight: bold;
    margin-right: 1em;
}
form.form-grid-2 label+*{
    margin-bottom: 1em;
}

.form-grid-2{
    display: grid;
    grid-template-columns: max-content auto;
}