{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Ingredient Manager</title>
    <meta name="description" content="An Ingredient Manager For PANTS">
    <meta name="author" content="AustinGrey">

    {% block head %}
    {% endblock %}
    {% block common_css %}
        <link rel="stylesheet" href="{% static "/css/reset.css" %}">
        <link rel="stylesheet" href="{% static "/css/main_template.css" %}">
        <link rel="stylesheet" href="{% static "/css/templatetags/float_input.css" %}">

        <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-grid.css">
        <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-theme-balham.css">
        <script defer src="{% static "/js/solid.min.js" %}"></script>
        <script defer src="{% static "/js/fontawesome.min.js" %}"></script>
    {% endblock %}
    {% block css %}
    {% endblock %}
</head>

<body>
<div class="grid-container">
    <div class="menu">
        <div class="nav">
            <a href="{% url 'ingredient_manager' %}" class="nav-item">
                <i class="fas fa-carrot"></i>
            </a>
            <a href="{% url 'recipe_manager' %}" class="nav-item">
                <i class="fas fa-hamburger"></i>
            </a>
            <div class="spacer"></div>
            <a class="nav-item">
                <i class="fas fa-user"></i>
            </a>
        </div>
    </div>
    <div class="quick-info">
        <h1 class="page-title">{% block page_title %}{% endblock %}</h1>
        {% block quick_info %}
        {% endblock %}
    </div>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</div>

{% block common_js %}
    <script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.noStyle.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script src="https://unpkg.com/imask@6.0.5/dist/imask.min.js"></script>
    <script src="{% static "js/utils.js" %}"></script>
    <script src="{% static "js/pants_api.js" %}"></script>
    <script>
        pants = new Pants('1', {
            method: "Token",
            token: Cookies.get("csrftoken")
        });
    </script>
{% endblock %}
{% block js %}
{% endblock %}
</body>
</html>