{% extends 'pants/base.html' %}

{% block headline %}
<h1>Price And Nutrition Tracking System</h1>
{% endblock %}

{% block content %}

<h3>DB Stats and Checks</h3>
<dl>
   <dt> {{ ing_count }} Ingredients</dt>
   <dd> <i><b>{{ ing_count_no_prod }} ingredients</b> with no product (will not have cost data)</i></dd>
   <dd> <i><b>{{ ing_count_no_kj }} ingredients</b> with missing KJ (probably missing all nutrients)</i></dd>
   <dt> {{ recipe_count }} Recipes</dt>
   <dd> {{ recipe_count_sub_rec }} recipes which use another recipe as a component</dd>
   <dt> {{ prod_count }} Products</dt>
   <dd> {{ price_count }} Prices from {{ supplier_count }} Suppliers</dd>
   <dd> <i><b>{{ prod_count_no_price }} products</b> with no prices (Ingredient will not have cost data)</i></dd>
   <dt> {{ diary_count }} Total Diary-Food entries<dt>
   <dd> {{ target_count }} Targets</dd>
</dl>

<h3>About PANTS</h3>
<p>PANTS is designed for:</p>
<ul>
   <li>Tracking the calories and nutrients in your food, especially
   things cooked frequently</li>
   <li>Storing a list of recipes, and determining the cost and nutritional values of a recipe</li>
   <li>Comparing the cost and nutritional values of different
   ingredients or recipes <br>(e.g. "What food has the most
   protein-per-dollar?" or "Which of these recipes has the least
   calories and is still high in fibre?")</li>
   <li>Long term dietary planning - working out which products or
   recipes you want to include regularly in your diet.</li>
</ul>
<p>PANTS is not made for:</p>
<ul>
   <li>Tracking ready-to-eat/takeaway/restaraunt meals or highly varied
   snack foods (rather than stuff you prepare yourself from basic ingredients)</li>
   <li>Determing the best place to buy a shopping list of items 
   (cost is not designed to be updated regularly or automatically, it is
   there for long-term planning)</li>
   <li>Comparing the cost of products across different regions.</li>
</ul>

<h3>TODOs (including known bugs/issues/kludges):</h3>
<ol>
   <h4>Urgent</h4>
   <li><b>Unit tests are severely incomplete!</b></li>
   <li>Fix all the kludgy FIXMEs in the code (see "make fixme" output)</li>
   <br>
   <h4>Target comparison</h4>
   <li>Util funcs to get current user daily target, and current user
   diary today/last24 data (done, used on home page)</li>
   <li>Use to show target on diary breakdown page</li>
   <li>Use target on recipe/ingredient detail pages</li>
   <br>
   <h4>NData and calculation DRYing</h4>
   <li>all the nutrition_data properties should be its own class that generates/caches individual
 values as required and enforces access/validation/etc, and does
 operations like summing and averaging (would remove LOTS of
 almost-identical code across ingredient/recipe/diary)</li>
   <li>Fix per-serve/per-weight dichotomy in recipe components</li>
   <li>Merge recipe and ingredient handling in diary save() and elsewhere</li>
   <li>ndata should handle micronutrients in some generic way</li>
   <br>
   <h4>Deploy tasks</h4>
   <li>Deploy target assuming Heroku - include sub-parts below</li>
   <li>Proper non-admin login page</li>
   <li>Use login middleware instead of requiring mixins/decorators every view</li>
   <li>logout working</li>
   <li>404 template</li>
   <br>
   <h4>API / filter</h4>
   <li>API-based frontend? Use DRF API - Don't bother with substatial FE
   improvements until this is done!</li>
   <li>Use django-filter (replace custom tag view handling etc) (work in
   progress)</li>
   <li>Fix/style form in ing-filter template</li>
   <li>filter recipe, diary as for ings</li>
   <br>
   <h4>Misc</h4>
   <li>Replace recipe/ and ingredient/ with "landing" page with a list
   of tags and count of ings for each etc
   <li>Add preparation_loss_factor to ingredient for e.g. peeling and
   trimming losses (can be half quantity for some vegetables, making
   them less cost-effective; also required for shopping list quantities etc)</li>
   <li>View-on-site in all admin</li>
   <li>"Favourite" (integer?) - use to sort, then updated-at</li>
   <li>Multilayer navigation, put little-used components in a misc section</li>
   <li>Flat (view all) view for Ing/Rec</li>
   <li>Diary nav for flat ListView - ArchiveView / TodayArchiveView/
   DayArchiveView ? - custom breakdown (default view)</li>
   <li>Diary edit/create/delete forms using generic views too</li>
   <li>admin command or buttons on DE list view to export ALL ing data and ALL recipe data as big tables</li>
   <li>Consider: Move to per-100g instead of per-kg?</li>
   <li>Consider: Deprecate Product by merging price functionality into
   ProductPrice and making Ingredients recurse to more generic/specific versions? Product concept is underused</li>
   <li>Ing list column with recipe count (recursive/nonrecursive), click
   for recipe list filtered to ing?</li>
   <li>Recipe is_vegan/is_vegetarian/gluten_free/has_gluten properties - check via ingredient tags</li>
   <li>Invalidate cache of ingredient/recipe/quantity on nutrients change</li>
   <li>Invalidate cache of product/ingredient/etc on price change</li>
   <li>Add missing data on Products list view</li>
   <li>Add Store/Price data to views (Ingredient/Product detail?)</li>
   <li>"tags:" text should be a button that toggles tag-bar visibility on/off</li>
   <li>Flatten and/or Crystallize ingredients option on recipe detail view?</li>
   <li>Collections app for free-form showcases of recipes, products
   and ingredients</li>
   <li>Bottom nav buttons</li>
   <li>Sanity Check page also listing out of date (e.g. nutrition over a
   year (?), price over a quarter) </li>
   <li>User preferences (e.g. KJ or calories display, don't show some columns)</li>
   <li>User-custom data (consider split DB vs duped tables?)</li>
</ol>

<h3>Removed Features:</h3>
<dl>
   <dt>Collections</dt>
   <dd>Never properly implemented; need for this is reduced by heavier
   use of tags, using recursive recipes (e.g. an "ideal day" as a
   recipe), better frontend comparison tools and CSV export to
   spreadsheet for doing analysis there.
   <dt>Plots</dt>
   <dd>Recipes/Ingredients now have a CSV export button, use that to
   create charts externally via a spreadsheet.</dd>
   <dt>Amino Acids</dt>
   <dd>The original design was intended to handle detailed micronutrient
   stats (including individual amino acids, minerals, EFAs, fibre types)
   but when the nutrients object was merged into ingredient this was
   dropped. It was very underused but may be readded when the
   nutrient_data class/cache system is reworked to be less kludgy - see TODOs</dd>
</dl>

{% endblock %}

