{% extends 'pants/base.html' %}

{% block headline %}
<h1>Price And Nutrition Tracking System</h1>
{% endblock %}

{% block content %}

<h3>DB Stats and Checks</h3>
<dl>
   <dt> {{ ing_count }} Ingredients</dt>
   <dd> <i><b>{{ ing_count_no_kj }} ingredients</b> with missing KJ (probably missing all nutrients)</i></dd>
   <dd> <i><b>{{ ing_count_no_price }} ingredients</b> with no prices recorded</i></dd>
   <dt> {{ price_count }} Prices from {{ supplier_count }} Suppliers</dt>
   <dd> <i><b>{{ price_count_no_ing }} prices</b> with no ingredient (not migrated to new schema)</i></dd>
   <dd> {{ prod_count }} Products (deprecated)</dd>
   <dt> {{ recipe_count }} Recipes</dt>
   <dd> {{ recipe_count_sub_rec }} recipes which use another recipe as a component</dd>
   <dt> {{ diary_count }} Total Diary-Food entries<dt>
   <dd> {{ target_count }} Targets</dd>
</dl>

<h3>About PANTS</h3>

<p>PANTS is a self-hosted, open-source nutrition tracking and analysis
system. <a
href="https://github.com/dylanleigh/PriceAndNutritionTrackingSystem">The
source code of PANTS and some Documentation is available on GitHub.</a></p>

<h4>Overview</h4>
<dl>
   <dt><a href="/diary/">Diary</a></dt>
   <dd>Record of food intake over the last two days by time period.
   Older records can be seen at <a href="/diary/flat">/diary/flat</a>.</dd>
   <dt><a href="/ingredients/">Ingredients</a></dt>
   <dd>Generic ingredients, like "Rolled Oats", "Green Split Peas",
   "Skim Milk", not any particular brand or store.
   <br>You can compare relative data such as Protein per Joule or Fibre per
   Dollar on the ingredients pages, as well as seeing a list of Prices.</dd>
   <dt><a href="/recipes/">Recipes</a></dt>
   <dd>A collection of ingredients, showing the combined
   nutritional value and cost of each serve of the recipe, as well as the relative
   per-calorie and per-dollar values.</dd>
   <dd>Recipes can include other recipes.</dd>
   <dt><a href="/targets/">Targets</a></dt>
   <dd>Daily targets; can also set targets for particular meals (e.g. a
   pre/post workout meal).</dd>
</dl>

<h4>Other Features, Notes and Tips</h4>

<dl>
<dt>Tagging</dt>
<dd>
   Ingredients and recipes can be given multiple tags for easier searching and
   analysis; this makes it much easier to (for example) compare the fibre
   per calorie in different vegetables or the calories per serve of
   different dessert.</dd>

<dt>Repurposing Recursive Recipes</dt>
<dd>
   As recipes can include other recipes, this can be used for other
   planning purposes, e.g. to  make an "average breakfast" recipe
   which is your other breakfast
   recipes combined (then divided by number of serves). These can be in
   turn combined to make an "average day" overview which can be used as a
   meal plan.</dd>

<dt>PANTS doesn't make assumptions or guesses</dt>
<dd>
   It is preferable to show no data instead of wrong data. If an ingredient has
   something missing (e.g. no fibre listed, no price recorded), any
   derived statistics will also be missing (e.g. no fibre-per-kj, or no
   protein-per-$ if there is no price). This also means that recipes
   which use that ingredient will not show a value for the sum of fibre
   in that recipe until all ingredients have that data entered in.

<dt>PANTS doesn't assume everyone sleeps at midnight</dt>
<dd>
   Diary shows breakdown of nutrients by both calendar day and 24-hour
   periods, so it can be used by shift workers or those with irregular
   sleep cycles.</dd>

<dt>Recipes update; Diary doesn't change</dt>
<dd>
   Diary entries are "crystallized" (future changes to a recipe do not
   affect past entries). On the other hand, changes to an
   ingredient/recipe immediately show up in any recipes which use
   them.</dd>

<dt>Once-off Diary entries</dt>
<dd>
   Diary entries do not have to be linked to a specific
   ingredient/recipe, one off diary entries can be created with manual
   nutritional data e.g. when going out for the night and you can only
   guess how many calories are in dinner.</dd>

<dt>Micronutrients</dt>
<dd>
   All Australian standard nutritional data is stored (e.g. sodium and
   saturated fat) but not everything is shown in all views by default.
   There was support for micronutrients such as individual amino acids
   which was removed as part of a DB schema change but this is planned to
   be readded in a more stable way (see roadmap for details).</dd>

<dt>Per-user and global data</dt>
<dd>
   Diary is per-user, but ingredient/recipe are global. There
   are plans to add per-user recipes but this is very far down the
   roadmap as the focus is on adding features for personal use (it
   wouldn't be complex however).</dd>

<dt>Progress/Percentage bars</dt>
<dd>
   Once your default target is set, it will be used to compare against
   ingredients/recipes you view so you can see how much % of your
   daily intake that recipe/ingredient will satisfy. <br>On most pages,
   Green/Yellow/Red bars indicate how much of the daily target's
   minimum/maximum are accounted for; Purple progress bars are used
   to show percentage out of the current total, or amount compared to the
   highest value in a list of recipes/ingredients.</dd>
</dl>

{% endblock %}

