{% extends 'pants/base.html' %}

{% block headline %}
<h1>Price And Nutrition Tracking System</h1>
{% endblock %}

{% block content %}

<h3>DB Stats and Checks</h3>
<dl>
   <dt> {{ ing_count }} Ingredients</dt>
   <dd> <i><b>{{ ing_count_no_prod }} ingredients</b> with no product (will not have cost data)</i></dd>
   <dd> <i><b>{{ ing_count_no_kj }} ingredients</b> with missing KJ (probably missing all nutrients)</i></dd>
   <dt> {{ recipe_count }} Recipes</dt>
   <dd> {{ recipe_count_sub_rec }} recipes which use another recipe as a component</dd>
   <dt> {{ prod_count }} Products</dt>
   <dd> {{ price_count }} Prices from {{ supplier_count }} Suppliers</dd>
   <dd> <i><b>{{ prod_count_no_price }} products</b> with no prices (Ingredient will not have cost data)</i></dd>
   <dt> {{ diary_count }} Total Diary-Food entries<dt>
   <dd> {{ target_count }} Targets</dd>
</dl>

<h3>About PANTS</h3>

<p>PANTS is a self-hosted, open-source nutrition tracking and analysis
system. <a
href="https://github.com/dylanleigh/PriceAndNutritionTrackingSystem">The
source code of PANTS and some Documentation is available on GitHub.</a></p>

<h3>Overview:</h3>
<dl>
   <dt><a href="/diary/">Diary</a></dt>
   <dd>Record of food intake over the last two days by time period.
   Older records can be seen at <a href="/diary/flat">/diary/flat</a>.</dd>
   <dt><a href="/ingredients/">Ingredients</a></dt>
   <dd>Generic ingredients, like "Rolled Oats", "Green Split Peas",
   "Skim Milk", not any particular brand or store.
   <br>You can compare relative data such as Protein per Joule or Fibre per
   Dollar on the ingredients pages.</dd>
   <dt><a href="/products/">Products</a></dt>
   <dd>Specific versions of an ingredient like "Supermarket X's Own
   Brand Skim Milk".</dd>
   <dt><a href="/recipes/">Recipes</a></dt>
   <dd>A collection of ingredients, showing the combined
   nutritional value and cost of each serve of the recipe, as well as the relative
   per-calorie and per-dollar values.</dd>
   <dd>Recipes can include other recipes.</dd>
   <dt><a href="/targets/">Targets</a></dt>
   <dd>Daily targets; can also set targets for particular meals (e.g. a
   pre/post workout meal).</dd>
</dl>


{% endblock %}

