{% extends 'pants/base.html' %}

{% load css_visuals %}

{% block headline %}
<h1>Price And Nutrition Tracking System</h1>
{% endblock %}

{% block content %}

<h3>Daily Summary</h3>
<table class="w3-table-all w3-hoverable">
   <tr>
      <tr>
      <th> </th>
      <th>KJ</th>
      <th>KCal.</th>
      <th>Prot.</th>
      <th>Fibre</th>
      <th>Fat</th>
      <th>Carb.</th>
      <th>Pro/kj</th>
      <th>Fib/kj</th>
      <th>Cost</th>
   </tr>
      <tr>
      <th>Today</th>
      {% if daily_target %}
         {% with daily_target.minimum.nutrition_data as min_ndata %}
            {% with daily_target.maximum.nutrition_data as max_ndata %}
               <td>{% valminmaxdiv diary_today.kilojoules min_ndata.kilojoules max_ndata.kilojoules %}</td>
               <td>{% valminmaxdiv diary_today.kilocalories min_ndata.kilocalories max_ndata.kilocalories %}</td>
               <td>{% valminmaxdiv diary_today.protein min_ndata.protein max_ndata.protein %}</td>
               <td>{% valminmaxdiv diary_today.fibre min_ndata.fibre max_ndata.fibre %}</td>
               <td>{% valminmaxdiv diary_today.fat min_ndata.fat max_ndata.fat %}</td>
               <td>{% valminmaxdiv diary_today.carbohydrate min_ndata.carbohydrate max_ndata.carbohydrate %}</td>
               <td>{{diary_today.protein_per_j|css_progressbar:min_ndata.protein_per_j|default:20}}</td>
               <td>{{diary_today.fibre_per_j|css_progressbar:min_ndata.fibre_per_j|default:20}}</td>
               <td>{% valminmaxdiv diary_today.cost min_ndata.cost max_ndata.cost %}</td>
            {% endwith %}
         {% endwith %}
      {% else %}
            <td>{{diary_today.kilojoules|css_progressbar:6500}}</td>
            <td>{{diary_today.kilocalories|css_progressbar:1500}}</td>
            <td>{{diary_today.protein|css_progressbar:120}}</td>
            <td>{{diary_today.fibre|css_progressbar:40}}</td>
            <td>{{diary_today.fat|css_progressbar:60}}</td>
            <td>{{diary_today.carbohydrate|css_progressbar:150}}</td>
            <td>{{diary_today.protein_per_j|css_progressbar:30}}</td>
            <td>{{diary_today.fibre_per_j|css_progressbar:10}}</td>
            <td>{{diary_today.cost}}</td>
      {% endif %}
   </tr><tr>
      <th></th>
      <td>{{diary_today.kilojoules|css_progressbar:diary_today.kilojoules}}</td>
      <td></td>
      <td>{{diary_today.kj_from_prot|css_progressbar:diary_today.kilojoules}}</td>
      <td></td>
      <td>{{diary_today.kj_from_fat|css_progressbar:diary_today.kilojoules}}</td>
      <td>{{diary_today.kj_from_carb|css_progressbar:diary_today.kilojoules}}</td>
   </tr><tr>
      <th>Last 24 hours</th>
      {% if daily_target %}
         {% with daily_target.minimum.nutrition_data as min_ndata %}
            {% with daily_target.maximum.nutrition_data as max_ndata %}
               <td>{% valminmaxdiv diary_last24.kilojoules min_ndata.kilojoules max_ndata.kilojoules %}</td>
               <td>{% valminmaxdiv diary_last24.kilocalories min_ndata.kilocalories max_ndata.kilocalories %}</td>
               <td>{% valminmaxdiv diary_last24.protein min_ndata.protein max_ndata.protein %}</td>
               <td>{% valminmaxdiv diary_last24.fibre min_ndata.fibre max_ndata.fibre %}</td>
               <td>{% valminmaxdiv diary_last24.fat min_ndata.fat max_ndata.fat %}</td>
               <td>{% valminmaxdiv diary_last24.carbohydrate min_ndata.carbohydrate max_ndata.carbohydrate %}</td>
               <td>{{diary_last24.protein_per_j|css_progressbar:min_ndata.protein_per_j|default:20}}</td>
               <td>{{diary_last24.fibre_per_j|css_progressbar:min_ndata.fibre_per_j|default:20}}</td>
               <td>{% valminmaxdiv diary_last24.cost min_ndata.cost max_ndata.cost %}</td>
            {% endwith %}
         {% endwith %}
      {% else %}
         <td>{{diary_last24.kilojoules|css_progressbar:6500}}</td>
         <td>{{diary_last24.kilocalories|css_progressbar:1500}}</td>
         <td>{{diary_last24.protein|css_progressbar:120}}</td>
         <td>{{diary_last24.fibre|css_progressbar:40}}</td>
         <td>{{diary_last24.fat|css_progressbar:60}}</td>
         <td>{{diary_last24.carbohydrate|css_progressbar:150}}</td>
         <td>{{diary_last24.protein_per_j|css_progressbar:30}}</td>
         <td>{{diary_last24.fibre_per_j|css_progressbar:10}}</td>
      {% endif %}
   </tr><tr>
      <td></td>
      <td>{{diary_last24.kilojoules|css_progressbar:diary_last24.kilojoules}}</td>
      <td></td>
      <td>{{diary_last24.kj_from_prot|css_progressbar:diary_last24.kilojoules}}</td>
      <td></td>
      <td>{{diary_last24.kj_from_fat|css_progressbar:diary_last24.kilojoules}}</td>
      <td>{{diary_last24.kj_from_carb|css_progressbar:diary_last24.kilojoules}}</td>
   </tr><tr>
      {% if daily_target %}
         <th><small><a href="/targets"/>{{ daily_target.name }}</a></small></th>
         {% with daily_target.minimum.nutrition_data as min_ndata %}
            {% with daily_target.maximum.nutrition_data as max_ndata %}
               <td><small>{{min_ndata.kilojoules}}-{{max_ndata.kilojoules}}</small></td>
               <td><small>{{min_ndata.kilocalories}}-{{max_ndata.kilocalories}}</small></td>
               <td><small>{{min_ndata.protein}}-{{max_ndata.protein}}</small></td>
               <td><small>{{min_ndata.fibre}}-{{max_ndata.fibre}}</small></td>
               <td><small>{{min_ndata.fat}}-{{max_ndata.fat}}</small></td>
               <td><small>{{min_ndata.carbohydrate}}-{{max_ndata.carbohydrate}}</small></td>
               <td><small>{{min_ndata.protein_per_j}}-{{max_ndata.protein_per_j}}</small></td>
               <td><small>{{min_ndata.fibre_per_j}}-{{max_ndata.fibre_per_j}}</small></td>
               <td><small>${{min_ndata.cost}}-${{max_ndata.cost}}</small></td>
            {% endwith %}
         {% endwith %}
         </tr>
      {% endif %}
</table>

<br><br>

<a href="/diary/" class="w3-button w3-black w3-mobile">Diary</a>
<a href="/diary/flat" class="w3-button w3-black w3-mobile">History</a>

<br><br>


{% endblock %}

