{% load static %}
<div class="field">
    {% if type == "text" and multiline %}
        <textarea class="field__input" id="{{ name }}" name="{{ name }}" type="{{ type }}"
                  placeholder="{{ label }}" {{ extra }}></textarea>
    {% elif type == "select" %}
        <select class="field__input" id="{{ name }}" name="{{ name }}" {{ extra }}>
            <option value="">Not Implemented</option>
        </select>
    {% else %}
        {# A regular input, the type should be an html 5 type#}
        <input class="field__input" id="{{ name }}" name="{{ name }}" type="{{ type }}"
               placeholder="{{ label }}" {{ extra }}>
    {% endif %}
    <label class="field__label" for="{{ name }}">{{ label }}</label>
</div>
<script>
    {% if input_mask %}
    window.addEventListener('load', ()=>{
        let elem = document.getElementById("{{ name }}");
        if(typeof elem.pants_data === "undefined"){
            elem.pants_data = {};
        }
        elem.pants_data.input_mask = IMask(elem, {{ input_mask }});
    })
    {% endif %}
</script>