{% load static %}
<div class="field">
    {% if multiline %}
        <textarea class="field__input" id="{{ name }}" name="{{ name }}" type="{{ type }}"
                  placeholder="{{ label }}" {{ extra }}></textarea>
    {% else %}
        <input class="field__input" id="{{ name }}" name="{{ name }}" type="{{ type }}"
               placeholder="{{ label }}" {{ extra }}>
    {% endif %}
    <label class="field__label" for="{{ name }}">{{ label }}</label>
</div>
<script>
{#    {% if cleave_options %}#}
{#    window.addEventListener('load', ()=>{#}
{#        IMask(document.getElementById("{{ name }}"), {#}
{#            mask: /^\d{0,6}(\.\d{0,3})?$/,#}
{#            lazy: false,#}
{#            placeholderChar: "_",#}
{#            overwrite: true#}
{#        })#}
{#    })#}
{#    {% endif %}#}
</script>