{% extends 'pants/base.html' %}

{% load css_visuals %}

{% block title %}
<title>Ingredients - P.A.N.T.S.</title>
{% endblock %}

{% block headline %}
<h1>Ingredients - P.A.N.T.S.</h1>
{% endblock %}

{% block content %}

<p>
   <a href="{% url 'ingredient-csv-export' %}"
      class="w3-button w3-black w3-round-large"> Export CSV </a>

   <a href="{% url 'ingredient-list-all' %}"
      class="w3-button w3-black w3-round-large">
   Show All </a>

    <form action="" method="get">
        {{ filter.form.as_p }}
        <input type="submit" />
    </form>

<table class="w3-table-all w3-hoverable">
      <tr>
         <th>Ingredient</th>
         <th>Prot. g/J</th>
         <th>Prot. g/$</th>
         <th>Fibre g/J</th>
         <th>Fibre g/$</th>
         <th>Min. $/kg</th>
         <th>KJ/kg</th>
         <th>KCal/kg</th>
         <th>Prot. g/kg</th>
         <th>Fibre g/kg</th>
         <th>Fat g/kg</th>
         <th>Carb. g/kg</th>
         <th>Sugar g/kg</th>
         <th>P+F/J</th>
         <th>Rank</th>
      </tr>
    {% for ing in filter.qs %}
      <tr>
         <th><a href="{% url 'ingredient-detail' ing.slug %}">{{ing.name}}</a></th>
         {% with ing.nutrition_data as ndata %}
            <td>{{ndata.protein_per_j|css_progressbar:50}}</td>
            <td>{{ndata.protein_per_cost|css_progressbar:50}}</td>
            <td>{{ndata.fibre_per_j|css_progressbar:50}}</td>
            <td>{{ndata.fibre_per_cost|css_progressbar:50}}</td>
            <td>${{ndata.cost|default_if_none:"?"|floatformat:2}}</td>
            <td>{{ndata.kilojoules|css_progressbar:20000}}</td>
            <td>{{ndata.kilocalories|css_progressbar:5000}}</td>
            <td>{{ndata.protein|css_progressbar:500}}</td>
            <td>{{ndata.fibre|default_if_none:"???"|css_progressbar:200}}</td>
            <td>{{ndata.fat|default_if_none:" "|css_progressbar:400}}</td>
            <td>{{ndata.carbohydrate|default_if_none:" "|css_progressbar:400}}</td>
            <td>{{ndata.sugar|default_if_none:" "|css_progressbar:200}}</td>
            <td>{{ndata.pf_per_j|css_progressbar:100}}</td>
            <td>{{ndata.rank|css_progressbar:40}}</td>
         {% comment %}
            TODO context for limits
            <td>{{ndata.protein_per_j|css_progressbar:limits.protein_per_j}}</td>
            <td>{{ndata.protein_per_cost|css_progressbar:limits.protein_per_cost}}</td>
            <td>{{ndata.fibre_per_j|css_progressbar:limits.fibre_per_j}}</td>
            <td>{{ndata.fibre_per_cost|css_progressbar:limits.fibre_per_cost}}</td>
            <td>${{ndata.cost|default_if_none:"?"|floatformat:2}}</td>
            <td>{{ndata.kilojoules|css_progressbar:limits.kilojoules}}</td>
            <td>{{ndata.kilocalories|css_progressbar:limits.kilocalories}}</td>
            <td>{{ndata.protein|css_progressbar:limits.protein}}</td>
            <td>{{ndata.fibre|default_if_none:"???"|css_progressbar:limits.fibre}}</td>
            <td>{{ndata.fat|default_if_none:" "|css_progressbar:limits.fat}}</td>
            <td>{{ndata.carbohydrate|default_if_none:" "|css_progressbar:limits.carbohydrate}}</td>
            <td>{{ndata.sugar|default_if_none:" "|css_progressbar:limits.sugar}}</td>
            <td>{{ndata.pf_per_j|css_progressbar:limits.pf_per_j}}</td>
            <td>{{ndata.rank|css_progressbar:limits.rank}}</td>
         {% endcomment %}
         {% endwith %}
      </tr>
   {% empty %}
      <tr><th>No matching ingredients.</tr></th>
   {% endfor %}
</table>
{% endblock %}
