{% extends "frontend/common/main_template.html" %}
{% load inputs %}
{% block page_title %}
    Ingredient Manager
{% endblock %}
{% block content %}
    <div id="ingredient-manager">
      <div class="header-all flex-row-start flex-gap-regular">
          <h2>All Ingredients</h2>
                {% float_input label='Search' name='ingredient_filter' extra='onkeyup="all_ingredients.gridOptions.api.refreshInfiniteCache()"' %}
      </div>
      <div class="ingredients-all">

        <!-- A data grid to browse available ingredients -->
          <div id="ingredients" class="contained_table ag-theme-balham"></div>
      </div>
      <div class="header">
          <h2>Information</h2>
      </div>
      <div class="ingredient">
                  <!-- A form to edit the given ingredient -->
          <form id="ingredient_edit_form" autocomplete="off">
                <input type="hidden" id="selected_row_node">
                <input type="hidden" id="ingredient_uri" name="ingredient_uri">

                {% float_input label='Introduction' name='introduction' hint="Introductory paragraph explains ingredient" multiline=True %}
                <div class="flex-row-equalfill">
                    {% float_input label='Name' name='name' hint="Grilled Cheese" %}
                    {% float_input label='Slug' name='slug' hint="grilled-cheese" input_mask=slug_mask %}
                </div>

                {% float_input label='Description' name='description' hint="A sandwich made with melted cheese" multiline=True %}

                {% float_input label='Notes' name='notes' hint="Additional information about usage, types, etc." multiline=True %}
                <div class="flex-row-equalfill">
                    {% float_input label='Tags' name='tags' hint="tag1,tag2,tag3" input_mask=tag_mask %}
                    <!-- You can't modify the owner, but I'm showing it here for this proof of concept -->
                    {% float_input label='Owner' name='owner' hint="A sandwich made with melted cheese" extra='disabled value=""' %}
                </div>
                <h3>Nutrition</h3>
                <div class="flex-row-equalfill">
                        {% float_input label='Serving Size (g)' name='serving' hint="in grams" input_mask=nutrition_mask %}
                        {% float_input label='kilojoules' name='kilojoules' input_mask=nutrition_mask %}
                    </div>
                    <div class="flex-row-equalfill">
                        {% float_input label='protein (g)' name='protein' hint="in grams" input_mask=nutrition_mask %}
                        {% float_input label='carbohydrate (g)' name='carbohydrate' hint="in grams" input_mask=nutrition_mask %}
                        {% float_input label='fat (g)' name='fat' hint="in grams" input_mask=nutrition_mask %}
                        {% float_input label='saturatedfat (g)' name='saturatedfat' hint="in grams" input_mask=nutrition_mask %}
                    </div>
                    <div class="flex-row-equalfill">
                        {% float_input label='sugar (g)' name='sugar' hint="in grams" input_mask=nutrition_mask %}
                        {% float_input label='sodium (mg)' name='sodium' hint="in milligrams" input_mask=nutrition_mask %}
                        {% float_input label='fibre (g)' name='fibre' hint="in grams" input_mask=nutrition_mask %}
                    </div>
            </form>
            <div class="flex-row-equalfill">
                <button class="oneline dark" onclick="create_ingredient()">Create New</button>
                <button class="oneline dark" disabled onclick="edit_ingredient()" id="edit_desc">Edit <span></span></button>
                <button class="oneline dark" disabled onclick="delete_ingredient()" id="delete_desc">Delete <span></span></button>
            </div>
      </div>
    </div>
{% endblock %}
{% block css %}
    <style>
    #ingredient-manager {
      display: grid;
      grid-template-columns: 1fr 30em;
      grid-template-rows: 4em 1fr;
      gap: 0 var(--padding);
      grid-template-areas: "header-all header" "ingredients-all ingredient";
    }
    #ingredient-manager>.header-all { grid-area: header-all; }
    #ingredient-manager>.ingredients-all {
        grid-area: ingredients-all;
        resize: vertical;
            overflow: auto;
    }
    #ingredient-manager>.ingredient { grid-area: ingredient; }
    #ingredient-manager>.header { grid-area: header; }

        #ingredient-manager>.ingredients-all > .contained_table {
            height: 100%;
        }
        #ingredient-manager>.ingredient{
            max-width: 30em;
        }
        #ingredient-manager>.ingredient button{
            margin: 1px;
        }
        #ingredient-manager>.ingredient .field{
            margin: 1px;
        }
    </style>
{% endblock %}
{% block js %}
    <script>
        let all_ingredients = {};

        document.addEventListener('DOMContentLoaded', () => {
            // Create a grid to view the data
            let columns = [
                {headerName: "Name", field: "name", sort: 'asc'},
                {headerName: "Description", field: "description"},
                {headerName: "Serving", field: "serving"},
                {headerName: "Notes", field: "notes"},
            ];
            let grid_options = {
                columnDefs: columns,
                defaultColDef: {
                    flex: 1,
                    sortable: true,
                    resizable: true,
                },
                rowModelType: 'infinite',
                rowSelection: 'single',
                pagination: true,
                paginationAutoPageSize: true,
                // Set up the grid to paginate using the server side API
                datasource: {
                    getRows: async params => {
                        var response = await pants.get_ingredients(params);

                        if (response.ok) {
                            let data = await response.json();
                            params.successCallback(data['results'], data['count'])
                        } else {
                            params.failCallback();
                        }
                    }
                }
            };
            all_ingredients = new agGrid.Grid(document.querySelector('#ingredients'), grid_options);

            // Register event to fill form with selected ingredient
            all_ingredients.gridOptions.api.addEventListener('rowSelected', args => {
                // This event fires if a row is selected OR deselected, we only care if something gets selected
                if (!args.node.selected) return;
                let ingredient = args.data;
                document.querySelector('#ingredient_uri').value = ingredient.url;
                document.querySelector('#name').value = ingredient.name;
                document.querySelector('#description').value = ingredient.description;
                document.querySelector('#owner').value = ingredient.owner;
                document.querySelector('#serving').value = ingredient.serving;
                document.querySelector('#introduction').value = ingredient.introduction;
                document.querySelector('#notes').value = ingredient.notes;

                // These have masks that need synchronization as well
                document.querySelector('#tags').value = ingredient.tags.join(',');
                document.querySelector('#slug').value = ingredient.slug;

                document.querySelector('#tags').pants_data.input_mask.updateValue();
                document.querySelector('#slug').pants_data.input_mask.updateValue();

                // Nutritional Data, these are all masked so the masks must be synchronized as well
                document.querySelector('#kilojoules').value = ingredient.kilojoules;
                document.querySelector('#protein').value = ingredient.protein;
                document.querySelector('#fibre').value = ingredient.fibre;
                document.querySelector('#carbohydrate').value = ingredient.carbohydrate;
                document.querySelector('#fat').value = ingredient.fat;
                document.querySelector('#sugar').value = ingredient.sugar;
                document.querySelector('#saturatedfat').value = ingredient.saturatedfat;
                document.querySelector('#sodium').value = ingredient.sodium;

                document.querySelector('#kilojoules').pants_data.input_mask.updateValue();
                document.querySelector('#protein').pants_data.input_mask.updateValue();
                document.querySelector('#fibre').pants_data.input_mask.updateValue();
                document.querySelector('#carbohydrate').pants_data.input_mask.updateValue();
                document.querySelector('#fat').pants_data.input_mask.updateValue();
                document.querySelector('#sugar').pants_data.input_mask.updateValue();
                document.querySelector('#saturatedfat').pants_data.input_mask.updateValue();
                document.querySelector('#sodium').pants_data.input_mask.updateValue();

                // Also store a reference to this node so that we can refresh it
                // @todo change this to pants_data and provide a safe access function
                document.querySelector('#selected_row_node').extra_data = {
                    'ag_data': args.node
                };

                // Label the buttons to indicate the node that will be affected
                let short_name = '';
                if (ingredient.name.length > 13) {
                    short_name = ingredient.name.slice(0, 10) + '...';
                } else {
                    short_name = ingredient.name.slice(0, 13);
                }
                let edit_btn = document.querySelector('#edit_desc');
                let delete_btn = document.querySelector('#delete_desc');
                edit_btn.querySelector('span').innerText = short_name;
                delete_btn.querySelector('span').innerText = short_name;
                // Since they start off disabled, enable them
                edit_btn.disabled = false;
                delete_btn.disabled = false;
            });

        });

        /**
         * Updates the ingredient based on the values in the ingredients form
         */
        function edit_ingredient() {
            let form = document.querySelector('#ingredient_edit_form');
            let ingredient_uri = form.querySelector('#ingredient_uri').value;
            let tags = form.querySelector('[name=tags]').value.split(',');
            // Remove empty tags
            tags = tags.filter(tag => tag !== '');

            pants.edit_ingredient(ingredient_uri, {
                'name': form.querySelector('[name=name]').value,
                'slug': form.querySelector('[name=slug]').value,
                'description': form.querySelector('[name=description]').value,
                // @todo Cannot edit owner? Remove this if there is no case where this is possible
                // 'owner': form.querySelector('[name=owner]').value,
                'tags': tags,
                'serving': form.querySelector('[name=serving]').value,
                'introduction': form.querySelector('[name=introduction]').value,
                'notes': form.querySelector('[name=notes]').value,

                // Nutritional Data
                'kilojoules': form.querySelector('[name=kilojoules]').value,
                'protein': form.querySelector('[name=protein]').value,
                'fibre': form.querySelector('[name=fibre]').value,
                'carbohydrate': form.querySelector('[name=carbohydrate]').value,
                'fat': form.querySelector('[name=fat]').value,
                'sugar': form.querySelector('[name=sugar]').value,
                'saturatedfat': form.querySelector('[name=saturatedfat]').value,
                'sodium': form.querySelector('[name=sodium]').value,
            })
                .then(resp => {
                    let row_node = document.querySelector('#selected_row_node').extra_data.ag_data;
                    row_node.setData(resp);
                    all_ingredients.gridOptions.api.flashCells({
                        rowNodes: [row_node]
                    })
                });
        }

        /**
         * Deletes the currently selected ingredient
         */
        function delete_ingredient() {
            pants.delete_ingredient(document.querySelector('#ingredient_uri').value)
                .then(response => {
                    all_ingredients.gridOptions.api.refreshInfiniteCache();
                });
        }

        /**
         * Creates a new ingredient using the information in the input fields
         */
        function create_ingredient() {
            let form = document.querySelector('#ingredient_edit_form');
            let tags = form.querySelector('[name=tags]').value.split(',');
            // Remove empty tags
            tags = tags.filter(tag => tag !== '');

            pants.create_ingredient({
                'name': form.querySelector('[name=name]').value,
                'slug': form.querySelector('[name=slug]').value,
                'description': form.querySelector('[name=description]').value,
                // @todo Cannot edit owner? Remove this if there is no case where this is possible
                // 'owner': form.querySelector('[name=owner]').value,
                'tags': tags,
                'serving': form.querySelector('[name=serving]').value,
                'introduction': form.querySelector('[name=introduction]').value,
                'notes': form.querySelector('[name=notes]').value,

                // Nutritional Data
                'kilojoules': form.querySelector('[name=kilojoules]').value,
                'protein': form.querySelector('[name=protein]').value,
                'fibre': form.querySelector('[name=fibre]').value,
                'carbohydrate': form.querySelector('[name=carbohydrate]').value,
                'fat': form.querySelector('[name=fat]').value,
                'sugar': form.querySelector('[name=sugar]').value,
                'saturatedfat': form.querySelector('[name=saturatedfat]').value,
                'sodium': form.querySelector('[name=sodium]').value,
            })
                .then(resp => {
                    console.log(resp);
                    all_ingredients.gridOptions.api.refreshInfiniteCache();
                })
        }
    </script>
{% endblock %}