{% extends "frontend/common/main_template.html" %}
{% load inputs %}
{% block page_title %}Recipe Manager{% endblock %}

{% block content %}
    <div id="recipe-manager">
        <div class="header-all-recipes">
            <h2>All Recipes</h2>
        </div>
        <div class="all-recipes resizable-vertical">
            <div id="all_recipes_table" class="ag-theme-balham fill-height"></div>
        </div>
        <div class="header-all-ingredients">
            <h2>All Ingredients</h2>
        </div>
        <div class="all-ingredients resizable-vertical">
            <div id="ingredients" class="ag-theme-balham fill-height"></div>
        </div>
        <div class="header-recipe">
            <h2>Selected Recipe</h2>
        </div>
        <div class="recipe">
            <form autocomplete="off">
                <input type="hidden" id="selected_row_node">
                <input type="hidden" id="recipe_uri" name="recipe_uri">

                <float-input label="Test" name="test" hint="test"></float-input>

                {% float_input label='Introduction' name='introduction' hint="A story about how the grilled cheese came to be" multiline=True %}

                <div class="flex-row-equalfill">
                    {% float_input label='Name' name='name' hint="Grilled Cheese" %}
                    {% float_input label='Slug' name='slug' hint="grilled-cheese" input_mask=slug_mask %}
                </div>

                {% float_input label='Description' name='description' hint="A sandwich made with melted cheese" multiline=True %}

                <div class="flex-row-equalfill">
                    {% float_input label='Serves' name='serves' hint="1" %}
                    {% float_input label='Tags' name='tags' hint="tag1,tag2,tag3" input_mask=tag_mask extra='style="flex:2"' %}
                    {#                @todo it is unclear what flag is used for, need to add support for it#}
                    {% float_input input_type="select" label="Flag" name="flag" %}
                </div>

                <div id="recipe-components">
                    {#                    A place to put all the components of the recipe once they are found#}

                </div>

                {% float_input label='Method' name='method' hint="Add cheese to bread, toast." multiline=True %}
                {% float_input label='Notes' name='notes' hint="Can use different cheeses than what is listed. Recipe is flexible." multiline=True %}

                <label>Recipe Ingredients</label>
                <div id="selected_ingredients" class="ag-theme-balham resizable-vertical" style="height: 20vh"></div>
            </form>
            <div class="flex-row-equalfill">
                <button class="oneline dark" onclick="create_recipe()">Create New</button>
                <button class="oneline dark" disabled onclick="edit_recipe()">Edit <span id="edit-recipe-name"></span>
                </button>
                <button class="oneline dark" disabled onclick="delete_recipe()">Delete <span
                        id="delete-recipe-name"></span></button>
            </div>
        </div>
    </div>
    {#    Template for a component of a recipe#}
    <template id="recipe-component-template">
    <div style="display: contents">
        <input id="component-type" type="hidden"/>
        <input id="component-id" type="hidden"/>

        <label id="name" style="padding-left: var(--padding)">A Recipe Component</label>

        {% float_input label="Amount" name="amount" extra='style="min-width: 0;text-align: right"' %}
{#        <input id="amount" placeholder="amount" style="min-width: 0;text-align: right"/>#}

        {% float_input input_type="select" label="Unit" name="unit" %}
{#        <select id="unit" style="min-width: 0; margin-left: 1px">#}
{#            <option value="weight">grams</option>#}
{#            <option value="servings">servings</option>#}
{#        </select>#}
        <button type="button" onclick="this.classList.toggle('has-note');" class="text-only note-controls">
            <i class="fas fa-sticky-note fa-2x"></i>
        </button>
        {% float_input label='Note' name='note' hint="Information about this specific ingredient in this specific recipe" multiline=True extra='class="resizable-vertical"' container_extra='style="grid-column: note-start / note-end"'%}
{#        <textarea id="note" placeholder="note" class="resizable-vertical" style="grid-column: note-start / note-end"></textarea>#}
    </div>
    </template>

{% endblock %}
{% block css %}
    <style>
        #recipe-manager {
            display: grid;
            grid-template-columns: 1fr 30em;
            grid-template-rows: 5em 1fr 5em 1fr;
            gap: 0 var(--padding);
            grid-template-areas: "header-all-recipes header-recipe" "all-recipes recipe" "header-all-ingredients recipe" "all-ingredients recipe";
        }

        #recipe-manager > .header-all-recipes {
            grid-area: header-all-recipes;
        }

        #recipe-manager > .all-recipes {
            grid-area: all-recipes;
        }

        #recipe-manager > .header-all-ingredients {
            grid-area: header-all-ingredients;
        }

        #recipe-manager > .all-ingredients {
            grid-area: all-ingredients;
        }

        #recipe-manager > .header-recipe {
            grid-area: header-recipe;
        }

        #recipe-manager > .recipe {
            grid-area: recipe;
        }

        .fill-height {
            height: 100%;
        }

        #recipe-manager .field,
        #recipe-manager button {
            margin: 1px;
        }

        .resizable-vertical {
            resize: vertical;
            overflow: auto;
        }

        #recipe-components {
            display: grid;
            {#grid-template-columns: 1fr [note-start] 8em 7em 2em [note-end];#}
{#            A somewhat hacky way to make this align with the 3 way split of fields above it #}
            grid-template-columns: calc(33% + 1px) [note-start] calc(33% + 3px) 1fr 2em [note-end];
            margin: var(--padding) 1px;
            align-items: center;
        }

        /* has-note on the note-controls class indicates note should show. It's absence means the opposite */
        button.note-controls:not(.has-note) + .field {
            display: none;
        }
    </style>
{% endblock %}
{% block js %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            // Create a data grid to view the available recipes
            let all_recipes_cols = [
                {headerName: "Name", field: "name"},
                {headerName: "Description", field: "description"},
                {headerName: "Serves", field: "serves"},
                {headerName: "Notes", field: "notes"},
            ];
            let all_recipes_grid = new agGrid.Grid(document.querySelector("#all_recipes_table"), {
                columnDefs: all_recipes_cols,
                defaultColDef: {
                    flex: 1,
                    sortable: true,
                    resizable: true,
                },
                rowModelType: 'infinite',
                rowSelection: 'single',
                pagination: true,
                paginationAutoPageSize: true,
                // Set up the grid to paginate using the server side API
                datasource: {
                    getRows: async params => {
                        //@todo recipe searching
                        //params.searchKey = document.querySelector('#ingredient_filter').value;
                        let response = await pants.get_recipes(params);

                        if (response.ok) {
                            let data = await response.json();
                            params.successCallback(data['results'], data['count'])
                        } else {
                            params.failCallback();
                        }
                    }
                }
            });

            // Register event to fill the form with the selected recipe's information
            all_recipes_grid.gridOptions.api.addEventListener('rowSelected', args => {
                // This event fires if a row is selected OR deselected, we only care if something gets selected
                if (!args.node.selected) return;
                let recipe = args.data;

                document.querySelector('#introduction').value = recipe.introduction;
                document.querySelector('#name').value = recipe.name;
                document.querySelector('#description').value = recipe.description;
                document.querySelector('#recipe_uri').value = recipe.url;
                document.querySelector('#serves').value = recipe.serves;
                document.querySelector('#flag').value = recipe.flag || "";
                let evt = document.createEvent("HTMLEvents");
                evt.initEvent("change", false, true);
                document.querySelector('#flag').dispatchEvent(evt); // Trigger event so that the label updates properly
                document.querySelector('#method').value = recipe.method;
                document.querySelector('#notes').value = recipe.notes;

                // These have masks that need synchronization as well
                document.querySelector('#tags').value = recipe.tags.join(',');
                document.querySelector('#slug').value = recipe.slug;

                document.querySelector('#tags').pants_data.input_mask.updateValue();
                document.querySelector('#slug').pants_data.input_mask.updateValue();

                // Components are not included in results for performance reasons, make a separate call to get those
                pants.get_recipe_full(recipe.url)
                    .then(response => response.json())
                    .then(json => {
                        // To avoid flash, we create a new node, fill it's children, then swap the two
                        let recipe_components = document.getElementById("recipe-components");
                        let new_recipe_components = recipe_components.cloneNode(true);
                        new_recipe_components.textContent = "";

                        json.components.forEach((component, idx) => {
                            let component_node = document.getElementById('recipe-component-template').content.cloneNode(true);
                            component_node.getElementById("component-type").innerText = component.of_ingredient == null ? "recipe" : "ingredient";
                            component_node.getElementById("component-id").innerText = component.of_ingredient || component.of_recipe;
                            component_node.getElementById("name").innerText = component.name;
                            component_node.getElementById("amount").value = component.servings || component.weight;
                            // Because I hate myself and made the float_inputs django templates, we need to create the options to add here too.
                            let weightOption = document.createElement('option');
                            weightOption.innerText = "grams";
                            weightOption.value = "weight";
                            let servingOption = document.createElement('option');
                            servingOption.innerText = "servings";
                            servingOption.value = "servings";
                            component_node.getElementById("unit").appendChild(weightOption);
                            component_node.getElementById("unit").appendChild(servingOption);
                            component_node.getElementById("unit").value = component.servings == null ? "weight" : "servings"
                            component_node.getElementById("note").value = component.note;

                            // Mark the controls with the has-note class if the component has a note
                            if(component.note !== undefined && component.note.length > 0) {
                                component_node.querySelector(".note-controls").classList.toggle("has-note");
                            }

                            new_recipe_components.appendChild(component_node);
                        })

                        recipe_components.replaceWith(new_recipe_components);
                    })
                    .catch(() => {
                        // Don't leave ingredients from last recipe in there.
                        document.getElementById("recipe-components").textContent = '';
                    })

                // Also store a reference to this node so that we can refresh it
                let row_node = document.querySelector('#selected_row_node');
                if (typeof row_node.pants_data === "undefined") {
                    row_node.pants_data = {}
                }
                row_node.pants_data.ag_data = args.node;

                // Label the buttons to indicate the node that will be affected
                let edit_btn_desc = document.querySelector('#edit-recipe-name');
                let delete_btn_desc = document.querySelector('#delete-recipe-name');
                edit_btn_desc.innerText = recipe.name;
                delete_btn_desc.innerText = recipe.name;
                // Since they start off disabled, enable them
                edit_btn_desc.parentNode.disabled = false;
                delete_btn_desc.parentNode.disabled = false;
            });


            // Create a grid to view all the components (ingredients OR other recipes)
            let columns = [
                {headerName: "Name", field: "name"},
                {headerName: "Description", field: "description"},
                {headerName: "Serving", field: "serving"},
                {headerName: "Notes", field: "notes"},
            ];
            let grid_options = {
                columnDefs: columns,
                rowModelType: 'infinite',
                pagination: true,
                paginationAutoPageSize: true,
                // Set up the grid to paginate using the server side API
                datasource: {
                    getRows: async params => {
                        //@todo component searching
                        //params.searchKey = document.querySelector('#ingredient_filter').value;
                        let response = await pants.get_ingredients(params);

                        if (response.ok) {
                            let data = await response.json();
                            params.successCallback(data['results'], data['count'])
                        } else {
                            params.failCallback();
                        }
                    }
                }
            };
            let all_ingredients = new agGrid.Grid(document.querySelector('#ingredients'), grid_options);


            // Now set up another grid to display the chosen ingredients
            let recipe_ingredients = new agGrid.Grid(document.querySelector('#selected_ingredients'), {
                columnDefs: columns,
                rowData: [],
                pagination: true,
                paginationAutoPageSize: true,
            });

            // Register the event to add ingredients to the recipe
            all_ingredients.gridOptions.api.addEventListener('rowClicked', args => {
                let ingredient = args.data;
                if (ingredient.is_added === true) {
                    // Reject adding the ingredient, flash the ingredient's corresponding row in the other table so the
                    // user knows that it's not just an error
                    let added_ingredient_row = args.data.recipe_node;
                    recipe_ingredients.gridOptions.api.flashCells({rowNodes: [added_ingredient_row]});
                    return
                }
                ingredient.original_id = args.node.id;
                ingredient.is_added = true; // prevent adding the same ingredient twice

                let rows = recipe_ingredients.gridOptions.api.updateRowData({
                    add: [args.data]
                });
                args.data.recipe_node = rows.add[0] // Keep a reference to the added grid row
            });
            // Register the event to remove ingredients from the recipe
            recipe_ingredients.gridOptions.api.addEventListener('rowClicked', args => {
                // We need to inform the ingredients list this ingredient can be added again, and delete references to it
                args.data.is_added = false;
                delete args.data.recipe_node;
                recipe_ingredients.gridOptions.api.updateRowData({
                    remove: [args.data]
                });
            })
        })
    </script>
{% endblock %}